body  {
        margin: 0;
        padding: 0;
        border: 0;
        color: white;
        overflow-x: hidden;
        background-image: url('../Img1/Fondo_Principal.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
  
  }
   
  * {
   box-sizing: border-box;
  }
  
  form{
        align-items: center;
        text-align: center;
  }
  
   a{
       text-decoration: none;
       color: inherit;
   }
  
   .fondo {
       background-image: linear-gradient(to bottom, #110f10, #211f20);
   }
  
   .superior {
       display: flex;
       width: 100%;
   }
  
   .superior img{
       position: relative;
       margin-top: -20px;
   }
  
   .superior .mssbienvenida {
        color: white;
        margin-top: 35px;
   }
  
  #menu{
        text-align: center;
        align-items: center;
  }
  
   .menu {
       margin-top: -50px;
       display: block;
       padding: 10px 5px;
   }
  
   .menu a{
       text-decoration: none;
       color: white;
       padding: 0px 10px;
       font-size: 20px;
   }
  
   .menu a:hover{
       background-color: white;
       color: black;
   }

   footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
        font-size: 20px;
    }


    .Contenidos{
        list-style-type: none;
        padding: 0;
        display: flex; 
        margin-left: 30px;
    }

    .Basico{
        color: black;
        height: 600px;
        width: 400px;
        padding: 10px;
        background-color: #ffff94;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        margin-left: 20px;
        transition: 200ms;
    }

    .Titulo, .Precio, .Imagen_principal{
        text-align: center;
        font-size: 25px;
    }




 .Premium{
        color: white;
        height: 600px;
        width: 400px;
        padding: 10px;
        background-image: linear-gradient(to bottom, #fffcf0, #211f20);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        margin-left: 20px;
        transition: 200ms;
 }

 .Empresarial{
        color: #40b09d;
        height: 600px;
        width: 400px;
        padding: 10px;
        background-image: linear-gradient(to bottom, #fffcf0, #211f20);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        margin-left: 20px;
        transition: 200ms;
 }

    .Basico:hover, .Premium:hover, .Empresarial:hover{
        width: 420px;
        border-radius: 20px;
    }

    .Premium .imagen{
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 10%;
    }





    