* {
    box-sizing: border-box;
    text-decoration: none;
   }

    body  {
        margin: 0;
        padding: 0;
        border: 0;
        color: white;
        overflow-x: hidden; /* contenido que se extienda se oculta */
        background-image: url('../Img1/Fondo_Principal.jpg');
        background-size: cover; /* Ajusta el tamaño completo */
        background-repeat: no-repeat; 
        background-attachment: fixed;
  }
   
  
  form{
    align-items: center;
    text-align: center;
  }
  
   a{
       text-decoration: none;
   }
  
   /* Fondo del nav, menu */
   .fondo {
       background-image: linear-gradient(to bottom, #110f10, #211f20); /* Degradado hacia abajo */
   }
  
   /* Configuracion del img y mensaje bienvenida*/
   .superior {
       display: flex;
       width: 100%;
   }
  
   .superior img{
       position: relative;
       margin-top: -20px;
   }
  
   .superior .mssbienvenida {
        color: white;
        margin-top: 35px;
   }
  
   /* Configuracion del menu */
  #menu{
    text-align: center;
    align-items: center;
  }
  
   .menu {
       margin-top: -50px;
       display: block;
       padding: 10px 5px;
   }
  
   .menu a{
       text-decoration: none;
       color: white;
       padding: 0px 10px;
       font-size: 20px;
   }
  
   .menu a:hover{
       background-color: white;
       color: black;
   }
    

   /* Titulo h2 de "Tendencias" */
   .Tendencias_Contenedor{
        align-items: center;
        text-align: center;
        width: 70%;
        margin-left: 15%;
        font-size: 20px;
   }


   /* Estilos del buscador */
    .buscador_contenedor{
        margin-top: 20px;
        text-align: center;
        align-items: center;
    }
  
   .buscador{
       width: 400px;
       justify-items:center ;
       padding: 10px;
       font-size: 16px;
       color: white;
       margin-bottom: 15px;
       border: none;
       border-bottom: 1px solid black;
       outline: none; /* Quita el contorno */
       background: #848679; 
       border-radius: 15px;
   }
  
   .buscador::placeholder{
       color: white;
   }


  /* Estilos del ul, cada ul contiene 3 li principales, osea 3 filas */
   .Contenidos{
        list-style-type: none;
        padding: 0;
        display: flex; 
        margin-left: 30px;
        color: black;
   }
  
   .estrellas {
       display: inline-block;
       color: #ffcc00;
       font-size: 24px;
   }
   
  /* Estilos de cada uno de los locales disponibles */
   .Rebel, .Supra, .Siete, .Rake, .Fernanda_Castillo, .Glan_Vives, .Makana, .Luxe, .Paris{
      color: black;
      height: 400px;
      width: 400px;
      padding: 10px;
      background: #d8e7e3;
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
      margin-left: 20px;
      transition: 200ms;
   }
  
   .Rebel:hover, .Supra:hover, .Siete:hover, .Rake:hover, .Fernanda_Castillo:hover, .Glan_Vives:hover, .Makana:hover, .Luxe:hover, .Paris:hover{
       width: 420px;
       border-radius: 20px;
   }


 /* Titulo  h2 "Reseñas" */
   #Reseñas{
        text-align: center;
        margin-top: 5%;
        font-size: 30px;
   }


   /* Estilos de las reseñas */
   .opiniones-container {
        max-width: 600px;
        margin: 30px auto;
    }

    .ultima_opinion{
        max-width: 600px;
        margin: 30px auto 8%;
    }

    .opinion {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .avatar {
        margin-right: 10px;
    }

    .avatar img {
        width: 50px; 
        border-radius: 50%; 
    }

    .contenido-opinion {
        flex-grow: 1; /* Ocupa el espacio disponible */
    }

    .nombre {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .estrellas_2{
        display: inline-block;
        cursor: pointer;
        color: #ffcc00;
        font-size: 24px;
    }

    .comentario {
        margin-top: 10px;
    }


    /* Estilos del pie de página (Footer) */
    .pie_pagina {
        background-image: linear-gradient(to bottom, #110f10, #211f20); /* Degradado hacia abajo */
        color: white;
        padding: 5px;
        text-align: center;
    }

    .pie_pagina h4 {
        margin-bottom: 10px;
    }

    .info_contacto p, .redes_sociales a, .derechos p {
        margin: 5px 0;
    }

    .redes_sociales a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }

    .redes_sociales a:hover {
        text-decoration: underline;
    }



   @media screen and (max-width: 768px) {
        body {
            font-size: 14px;
        }

        .superior {
            display: block;
            text-align: center;
        }

        .superior .logo {
            width: 30%; 
            margin: 20px auto; 
        }

        .bienvenida {
            margin: 20px auto; 
        }

        .menu {
            margin-top: 20px;
        }

        .menu ul {
            padding: 0;
        }

        .menu a {
            display: block;
            padding: 10px;
            font-size: 18px;
        }

        .Tendencias_Contenedor {
            font-size: 18px;
            margin-left: 5%;
            width: 90%;
        }

        .Contenidos {
            flex-wrap: wrap;
        }

        .Rebel, .Supra, .Siete, .Rake, .Fernanda_Castillo, .Glan_Vives, .Makana, .Luxe, .Paris {
            width: 90%;
            margin: 10px 5%;
        }

        .Rebel :hover, .Supra :hover, .Siete :hover, .Rake :hover, .Fernanda_Castillo :hover, .Glan_Vives :hover, .Makana :hover, .Luxe :hover, .Paris :hover {
            width: 90%;
            margin: 10px 5%;
        }

        .banner {
            width: 0%;
            height: 100px;
        }

        footer img {
            width: 10%;
        }
    }