Body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #011831;
    color: white;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
  }

  h2{
        font-size: 45px;
    }

  h4{
        font-size: 18px;
    }


    .fondo {
        background-image: linear-gradient(to bottom, #6693d1, #011831);
    }

    .superior {
        display: flex;
        width: 100%;
    }

    .superior img{
        position: relative;
        margin-top: -20px;
    }

    .volver{
        margin-top: 35px;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        background-color: #243b55;
        color: white;
        font-size: 15px;
        color: #fff;
        border: 0 solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: #243b55;
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .volver:Hover{
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 35px;
        text-shadow: 1px 1px 2px #427388;
    }

    .menu {
        margin-top: -50px;
        display: block;
        padding: 10px 5px;
    }

    .menu a{
        text-decoration: none;
        color: white;
        padding: 0px 10px;
        font-size: 20px;
    }

    .menu a:hover{
        background-color: white;
        color: black;
    }
    

    .Contenedor_Grande {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 30px;
        margin: 30px;
    }
    
    .Imagen_Grande {
        width: 90%;
        margin-left: 70px;
        border-radius: 30px;
        height: 400px;
    }
    
    .Contenedor_pequeño {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 100px;
    }
    
    .Imagen_Pequeña {
        width: 80%;
        margin-top: 10px; 
        border-radius: 30px;
    }


    .Reservar {
        width: 30%;
        position: -webkit-sticky;
        position: sticky;
        top: 20px; 
        float: right;
        margin-right: 20px; 
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 10px;
        margin-top: 40px;
    }

    .Boton_Reserva{
        border-radius: 10px;
        width: 120px;
        height: 40px;
        background-color: #243b55;
        color: white;
        font-size: 15px;
        color: #fff;
        border: 0 solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: #243b55;
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .Boton_Reserva:Hover{
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 35px;
        text-shadow: 1px 1px 2px #427388;
    }

    .Contenido-Desplazable {
        padding-top: 20px; 
    }


    #Servicios{
        margin-left: 30px;
    }

    .Servicios_Contenedor{
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        width: 65%;
        padding: 5px;
        margin-left: 30px;
        margin-top: 30px;
    }

    
    .expand-button{
        background-color: #011831;
        color: #fff;
        width: 25px; 
        border: none;
        border-radius: 30%;
        position: absolute; 
        margin-left: 61%;
        margin-top: -70px;
        transition: 500ms;
    }

    .expand-button:hover{
        background-color: #6693d1;
        color: black;
    }

    .Acerca_De{
        width: 65%;
        margin-left: 30px;
    }

    iframe{
        margin-left: 30px;
    }


    #Horario{
        margin-left: 30px;
    }
 
    .Lunes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        width: 45%;
        margin-left: 30px;
        margin-bottom: 5px;
    }
    

    
















    footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
    }

    