body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #011831;
}

.fondo {
    background-image: linear-gradient(to bottom, #6693d1, #011831);
}

.superior {
    display: flex;
}

.superior img{
    position: relative;
    margin-top: -20px;
}

.superior .mssbienvenida {
    color: white;
   margin-top: 35px;
}

.menu {
    margin-top: -50px;
    display: block;
    padding: 10px 5px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
}

.menu a:hover{
    background-color: white;
    color: black;
}


h2{
    color: white;
}

p{
    color: white;
}

