body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #243b55;
}

.superior {
    display: flex;
    background-image: linear-gradient(to right, #95b3dc, #435695);
}

.superior img{
    position: relative;
    margin-top: -20px;
}

.superior .mssbienvenida {
    color: black;
   margin-top: 35px;
}

.menu {
    margin-top: -50px;
    background-image: linear-gradient(to right, #95b3dc, #435695);
    display: block;
    padding: 10px 5px;
}


.menu a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
}

h2{
    color: white;
}

