
body{
  background-image: url('../Img1/Fondo_Logins.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.login_formulario{
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;

}

.login_formulario input[type="email"],
.login_formulario input[type="password"],
.login_formulario input[type="text"], 
.login_formulario input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: rgba(255, 255, 255, 0.3); 
}


.login_formulario input[type="email"]:focus,
.login_formulario input[type="password"]:focus {
  border-bottom: 2px solid #243b55;
}

.login_formulario .boton_iniciar {
    width: 120px;
    height: 45px;
    background: #243b55;
    font-size: 15px;
    color: #fff;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #243b55;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.login_formulario .boton_iniciar:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 35px;
    text-shadow: 1px 1px 2px #427388;
}
  
  .Enlaces{
    margin-top: 10px;
  }

  .Enlaces, a {
    text-decoration: none;
    color: black;
  }

  
  





